export(cell_drug)
export(cell_cell)
export(survout)
export(cofac_vars)
export(cofac_varsim)
export(cellcal)
export(coxcal)
export(coxcalsim)
export(loaddata)
export(cell_gene)
export(drug_drug)
export(drug_gene)
export(gene_gene)
